<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>owser</title>

	<link rel="stylesheet" href="../dist/style/normalize.css">
	<link rel="stylesheet" href="../dist/style/main.css">
</head>
<body>
	<header id="controls">
		<div class="control-item" id="window-move">
			::
		</div>
		<div class="control-item" id="window-navigate">
			<
		</div>
		<div class="control-item" id="window-url">halltechnologies.co</div>
		<div class="control-item" id="window-tabs">
			<div class="tab">a</div>
			<div class="tab">b</div>
		</div>
		<div class="control-item" id="title-bar-controls">
			<button id="window-action-minimize">-</button>
			<button id="window-action-maximize">+</button>
			<button id="window-action-close">X</button>
		</div>
	</header>

	<div id="container">
		a
	</div>
</body>



<!-- all ui scripts -->
<script src="../src/js/ui_manager.js"></script>


</html>
